<label for="">Nome da Escola</label>

<input type="text" class="form-control" [(ngModel)]="schoolName" />
<p>{{ schoolName }}</p>

<button
  class="btn btn-primary mt-2 mb-2"
  [disabled]="!addSchool"
  (click)="createSchool()"
>
  Incluir
</button>

<p *ngIf="schoolCreated">A escola foi criada com o nome de: {{ schoolName }}</p>
<p *ngIf="!schoolCreated">{{ createdSchoolStatus }}</p>

<app-school *ngFor="let school of schools"></app-school>
<p *ngFor="let school of schools; let i = index">{{ i }}: {{ school }}</p>
